xdebug.collect_vars        = on
xdebug.dump.GET            = *
xdebug.dump.POST           = *
xdebug.dump_globals        = 4
xdebug.idekey              = "{{ xdebug_idekey }}"
xdebug.remote_connect_back = 1
xdebug.remote_enable       = on
xdebug.remote_port         = {{ xdebug_port }}
xdebug.show_local_vars     = on
xdebug.remote_autostart = On
xdebug.remote_host = 192.168.33.1